GITHUB_TOKEN=

## Docker setup
MONGO_PASSWORD=your-secure-password
API_KEY=your-api-key
JWT_SECRET=your-jwt-secret
# Optional — defaults shown
INSTANCE_NAME=test
JWT_EXPIRATION_IN_DAYS=2
APP_PORT=3016